<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.carrot_market.user.db.UserMapper">

    <resultMap id="userResultMap" type="com.example.carrot_market.user.domain.User">
        <id property="id" column="id"/>
        <result property="nickname" column="nickname"/>
        <result property="phone" column="phone"/>
        <result property="createdAt" column="created_at"/>  <!-- Map snake case to camel case -->
        <result property="userScore" column="user_score"/>
        <result property="profileImage" column="profile_image"/>
    </resultMap>

    <insert id="insertUser" parameterType="com.example.carrot_market.user.domain.User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO users
        (nickname, phone, user_score, profile_image)
        VALUES
        (#{nickname}, #{phone}, #{userScore}, #{profileImage})
    </insert>

    <select id="selectUserById" parameterType="int" resultMap="userResultMap">
        SELECT * FROM users WHERE id = #{id}
    </select>

    <select id="selectUserByPhone" parameterType="String" resultMap="userResultMap">
        SELECT * FROM users WHERE phone = #{phone}
    </select>

    <update id="updateUser" parameterType="com.example.carrot_market.user.domain.User">
        update
            users
        set
            id = #{id}, nickname = #{nickname}, phone = #{phone}, profile_image = #{profileImage}
        where
            id = #{id}
    </update>

    <update id="unRegister" parameterType="com.example.carrot_market.user.domain.User">
        update
            users
        set
            deleted_at = #{deletedAt}
        where
            id=#{id}
    </update>


</mapper>
