<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.carrot_market.user.db.UserMapper">

    <resultMap id="userResultMap" type="com.example.carrot_market.user.domain.User">
        <id property="id" column="id"/>
        <result property="nickname" column="nickname"/>
        <result property="phone" column="phone"/>
        <result property="createdAt" column="created_at"/>  <!-- Map snake case to camel case -->
        <result property="userScore" column="user_score"/>
        <result property="profileImage" column="profile_image"/>
    </resultMap>

    <insert id="insertUser" parameterType="com.example.carrot_market.user.domain.User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO users
        (nickname, phone, user_score, profile_image)
        VALUES
        (#{nickname}, #{phone}, #{userScore}, #{profileImage})
    </insert>

    <select id="selectUserById" parameterType="int" resultMap="userResultMap">
        SELECT * FROM users WHERE id = #{id}
    </select>

    <select id="selectUserByPhoneNumber" parameterType="String" resultMap="userResultMap">
        SELECT * FROM users WHERE phone = #{phone}
    </select>

    <!-- 특정 지역 ID가 사용자의 현재 설정된 지역에 가까운지 검증 -->
    <select id="validateAreaToUserDefault" parameterType="com.example.carrot_market.area.domain.model.Area" resultType="boolean">
        SELECT IF(ST_DISTANCE_SPHERE(
                  #{productAreaId.geo_point}, #{areaId.geo_point})&gt;=
                  <if test="currentRange == 1">500</if>
                  <if test="currentRange == 2">1000</if>
                  <if test="currentRange == 3">2000</if>
                  , 1, 0
                  )
          FROM areas
    </select>
</mapper>
